[user]
    # todo: change these values!
    name = <your_name>
    email = <your_email>

[core]
    # requires that sublime "subl" command is setup
    # todo: be sure "subl" command is installed
    # editor = "subl --wait"
    excludesfile = ~/.gitignore

[merge]
    summary = true
    verbosity = 1

[push]
    default = tracking

[color]
    ui = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
